<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <title>方舟生存进化GameUserSettings.ini文件生成器</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <div class="row">
    <h1>方舟生存进化GameUserSettings.ini文件生成器</h1>
  </div>
  <div class="row">
    <h2>简介与免责声明</h2>
    <p class="text">本工具是受<a href="https://ark.gamepedia.com/Server_Configuration">Server Configuration - Official ARK: Survival Evolved Wiki</a>和<a href="https://ini.arkforum.de/index.php">GameUserSettings.ini Generator 4 ATLAS (Version: v218.31) & ARK (Version: 298.41)</a>的启发而被开发出来的，原资料与工具没有中文支持，故而开发一中文版，以便中文玩家使用。<a href="https://ark.gamepedia.com/Server_Configuration">Server Configuration - Official ARK: Survival Evolved Wiki</a>页面的内容采用了<a href="https://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA 3.0</a>协议，<a href="https://ini.arkforum.de/index.php">GameUserSettings.ini Generator 4 ATLAS (Version: v218.31) & ARK (Version: 298.41)</a>受DMCA保护。本页面参考了<a href="https://ark.gamepedia.com/Server_Configuration">Server Configuration - Official ARK: Survival Evolved Wiki</a>中的内容，独立编写，不用于商业用途，未使用<a href="https://ini.arkforum.de/index.php">GameUserSettings.ini Generator 4 ATLAS (Version: v218.31) & ARK (Version: 298.41)</a>中的代码。</p>
  </div>
  <div class="row" id="config">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" width="30%">键</th>
          <th scope="col" width="60%">解释</th>
          <th scope="col" width="10%">值</th>
        </tr>
      </thead>
      <tbody>
        <template v-for="block in settings">
          <tr class="table-primary"><td colspan="3"><b>{{ block.block_name }}</b></td></tr>
          <tr v-for="item in block.items">
            <td><code>{{ item.key }}</code></td>
            <td v-html="item.description"></td>
            <td>
              <div class="custom-control custom-switch" v-if="item.checkbox">
                <input type="checkbox" class="custom-control-input" v-bind:id="item.key" v-model="item.value" true-value="1" false-value="0">
                <label class="custom-control-label" v-bind:for="item.key"></label>
              </div>
              <input type="text" v-bind:value="item.value" class="form-control" v-else v-model.trim="item.value">
            </td>
          </tr>
        </template>
      </tbody>
    </table>
    <button type="button" class="btn btn-primary btn-lg btn-block" v-on:click="btn_click">下载GameUserSettings.ini文件</button>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdn.bootcss.com/FileSaver.js/2014-11-29/FileSaver.min.js"></script>
<script type="text/javascript">
  var config = new Vue({
    el: '#config',
    data: {
      settings: [
        {
          block_name: '[ServerSettings]',
          items: [
            // 基础设置
            { key: 'serverPVE', description: '禁用PVP（玩家互怼），启用PVE（只能玩家合作怼电脑）', value: 0, default_value: 0, checkbox: true },
            { key: 'serverHardcore', description: '硬核模式，玩家每次死亡后等级都会掉回1级', value: 0, default_value: 0, checkbox: true },
            { key: 'DifficultyOffset', description: '指定服务器的困难等级，详细信息参见<a href="https://ark.gamepedia.com/Difficulty" target="_blank">Difficulty - Official ARK: Survival Evolved Wiki</a>', value: '0.20000', default_value: '0.20000', checkbox: false },
            { key: 'AutoSavePeriodMinutes', description: '设置服务器自动保存游戏存档的时间间隔，单位为分钟', value: '15', default_value: '15', checkbox: false },
            { key: 'BanListURL', description: '使用指定的玩家封禁列表来阻止恶意玩家加入服务器', value: 'http://arkdedicated.com/banlist.txt', default_value: 'http://arkdedicated.com/banlist.txt', checkbox: false },
            { key: 'AdminLogging', description: '将管理员使用的命令发送到聊天窗口', value: 0, default_value: 0, checkbox: true },
            { key: 'ServerPassword', description: '服务器连接密码', value: '', default_value: '', checkbox: false },
            { key: 'ServerAdminPassword', description: '服务器管理员密码', value: '', default_value: '', checkbox: false },
            { key: 'SpectatorPassword', description: '如果设置该密码，则允许玩家切换至观众身份，在游戏中的控制台使用<b>requestspectator 密码</b>和<b>stopspectating</b>命令可进入和退出观众模式', value: '', default_value: '', checkbox: false },

            // 界面辅助类
            { key: 'serverForceNoHud', description: '禁用HUD', value: 0, default_value: 0, checkbox: true },
            { key: 'ServerCrosshair', description: '允许使用准星', value: 0, default_value: 0, checkbox: true },
            { key: 'allowThirdPersonPlayer', description: '允许使用第三人称视角', value: 0, default_value: 0, checkbox: true },
            { key: 'ShowMapPlayerLocation', description: '在地图上显示玩家位置', value: 0, default_value: 0, checkbox: true },
            { key: 'ShowFloatingDamageText', description: '通过浮动文字显示伤害值', value: 0, default_value: 0, checkbox: true },
            { key: 'bUseCorpseLocator', description: '爱是一道光，浪死的地方。死亡后尸体上会有一道绿色光柱指引你找回自己的物品', value: 0, default_value: 0, checkbox: true },
            { key: 'alwaysNotifyPlayerJoined', description: '当有玩家登陆服务器时，其他玩家会收到提醒', value: 0, default_value: 0, checkbox: true },
            { key: 'alwaysNotifyPlayerLeft', description: '当有玩家离开服务器时，其他玩家会收到提醒', value: 0, default_value: 0, checkbox: true },
            { key: 'globalVoiceChat', description: '允许全服语音聊天，否则语音会受距离限制，只有玩家离得足够近或有<a target="_blank" href="https://ark.gamepedia.com/Radio">无线电</a>才能听到对方的语音', value: 0, default_value: 0, checkbox: true },
            { key: 'proximityChat', description: '文字消息有距离限制，只有玩家离得足够近才能看到对方的消息', value: 0, default_value: 0, checkbox: true },
            { key: 'DisableWeatherFog', description: '禁用雾天', value: 0, default_value: 0, checkbox: true },

            // 速率
            { key: 'XPMultiplier', description: '经验获取倍率，缺省值为1.0倍，即单机模式与官服所使用的倍数，倍数越大，玩家每次行动获得的经验就越多', value: '1.00000', default_value: '1.00000', checkbox: false },
            { key: 'TamingSpeedMultiplier', description: '生物驯服速率，该值为倍数，倍数越大，驯服生物所需时间就越短', value: '1.00000', default_value: '1.00000', checkbox: false },
            { key: 'HarvestAmountMultiplier', description: '采集倍率，如砍树、采果子、分解尸体等，倍数越大，每次采集获得的资源数量越多', value: '1.00000', default_value: '1.00000', checkbox: false },
            { key: 'HarvestHealthMultiplier', description: '被采集对象的“生命值”，如树木、石头、尸体等，该值为倍数，倍数越大，你需要挥斧子/镐子/拳头的次数就越多', value: '1.00000', default_value: '1.00000', checkbox: false },
            { key: 'ResourcesRespawnPeriodMultiplier', description: '资源重生速率，如树木、石头、灌木等，该值为倍数，倍数越低，资源重生越快', value: '1.00000', default_value: '1.00000', checkbox: false },
            { key: 'DayCycleSpeedScale', description: '昼夜交替的速度，该值为倍数，缺省值为1.0倍，即单机模式与官服所使用的倍数，倍数越大昼夜交替速度越快。1.0倍时，现实中1分钟大体对应游戏中的28分钟，因此，如果希望游戏中的昼夜交替周期与现实相似（1昼夜=24小时），可将该值设置为0.035', value: '1.00000', default_value: '1.00000', checkbox: false },
            { key: 'NightTimeSpeedScale', description: '夜晚时间流逝的速度，该值为倍数，决定了夜间时长，与DayTimeSpeedScale相关，倍数越小夜晚的时间就越长', value: '1.00000', default_value: '1.00000', checkbox: false },
            { key: 'DayTimeSpeedScale', description: '白天时间流逝的速度，该值为倍数，决定了日间时长，与NightTimeSpeedScale相关，倍数越小白天的时间就越长', value: '1.00000', default_value: '1.00000', checkbox: false },
            { key: 'TribeNameChangeCooldown', description: '再次修改部落名称所需的冷却时间，单位为分钟', value: '15', default_value: '15', checkbox: false },

            // 属性
            { key: 'PlayerDamageMultiplier', description: '玩家伤害倍数，倍数越高玩家打出的伤害越高', value: '1.00000', default_value: '1.00000', checkbox: false },
            { key: 'PlayerResistanceMultiplier', description: '玩家承伤倍数，倍数越高，攻击行为对玩家造成的伤害越高', value: '1.00000', default_value: '1.00000', checkbox: false },
            { key: 'PlayerCharacterWaterDrainMultiplier', description: '玩家的水资源消耗倍率，倍数越高，玩家单位时间内消耗水资源数量越高', value: '1.00000', default_value: '1.00000', checkbox: false },
            { key: 'PlayerCharacterFoodDrainMultiplier', description: '玩家的食物消耗倍率，倍数越高，玩家单位时间内消耗食物数量越高', value: '1.00000', default_value: '1.00000', checkbox: false },
            { key: 'PlayerCharacterStaminaDrainMultiplier', description: '玩家的耐力消耗倍率，倍数越高，玩家活动所消耗的耐力就越高', value: '1.00000', default_value: '1.00000', checkbox: false },
            { key: 'PlayerCharacterHealthRecoveryMultiplier', description: '玩家生命值回复倍率，倍数越高，玩家单位时间内回复的生命值越高', value: '1.00000', default_value: '1.00000', checkbox: false },
            { key: 'DinoDamageMultiplier', description: '恐龙伤害倍数，倍数越高恐龙打出的伤害越高', value: '1.00000', default_value: '1.00000', checkbox: false },
            { key: 'DinoResistanceMultiplier', description: '恐龙承伤倍数，倍数越高，攻击行为对恐龙造成的伤害越高', value: '1.00000', default_value: '1.00000', checkbox: false },
            { key: 'DinoCharacterFoodDrainMultiplier', description: '恐龙的食物消耗倍率，倍数越高，恐龙单位时间内消耗食物数量越高', value: '1.00000', default_value: '1.00000', checkbox: false },
            { key: 'DinoCharacterStaminaDrainMultiplier', description: '恐龙的耐力消耗倍率，倍数越高，恐龙活动所消耗的耐力就越高', value: '1.00000', default_value: '1.00000', checkbox: false },
            { key: 'DinoCharacterHealthRecoveryMultiplier', description: '恐龙生命值回复倍率，倍数越高，恐龙单位时间内回复的生命值越高', value: '1.00000', default_value: '1.00000', checkbox: false },
            { key: 'StructureDamageMultiplier', description: '建筑物伤害倍数，如拒马、炮塔等，倍数越高建筑物对生物造成的伤害越高', value: '1.00000', default_value: '1.00000', checkbox: false },
            { key: 'StructureResistanceMultiplier', description: '建筑物承伤倍数，如拒马、炮塔等，倍数越高，攻击行为对建筑物造成的伤害越高', value: '1.00000', default_value: '1.00000', checkbox: false },
            { key: 'TamedDinoDamageMultiplier', description: '驯养生物伤害倍数，倍数越高驯养生物打出的伤害越高', value: '1.00000', default_value: '1.00000', checkbox: false },
            { key: 'TamedDinoResistanceMultiplier', description: '驯养生物承伤倍数，倍数越高，攻击行为对驯养生物造成的伤害越高', value: '1.00000', default_value: '1.00000', checkbox: false },

            // 数量
            { key: 'MaxTamedDinos', description: '服务器中驯养生物的最大数量', value: 4000, default_value: 4000, checkbox: false },
            { key: 'TheMaxStructuresInRange', description: '（需要帮助）指定一个区域内最多可以创建多少建筑（Specifies the maximum number of structures that can be constructed within a certain (currently hard-coded) range.）', value: 10500, default_value: 10500, checkbox: false },
            { key: 'MaxPlatformSaddleStructureLimit', description: 'ARK中船/平台鞍生物的最大数量', value: 100, default_value: 100, checkbox: false },
            { key: 'PerPlatformMaxStructuresMultiplier', description: '每个平台鞍/船上所能放置的建筑与家具的最大数量，该值为倍数，倍数越高，所能放置的物体越多', value: '1.00000', default_value: '1.00000', checkbox: false },
            { key: 'DinoCountMultiplier', description: '恐龙数量，该值为倍数，倍数越高，游戏中的恐龙数量越多', value: '1.00000', default_value: '1.00000', checkbox: false },
            { key: 'ItemStackSizeMultiplier', description: '单元格物品堆叠数量的倍数，倍数越高，单元格内能够堆叠的物品数量越多', value: '1.00000', default_value: '1.00000', checkbox: false },
            { key: 'PlatformSaddleBuildAreaBoundsMultiplier', description: '平台鞍建筑区域面积倍数，倍数越高，建筑与平台鞍之间的距离就可以越远', value: '1.00000', default_value: '1.00000', checkbox: false },
            { key: 'MaxPersonalTamedDinos', description: '每个部落所能拥有的最大驯养生物数量', value: '500', default_value: '500', checkbox: true},

            // 待整理
            { key: 'AllowAnyoneBabyImprintCuddle', description: 'Use this if you want ANYONE to be able to "take care" of a Baby Dino (cuddle etc.), not just whomever Imprinted on it. ', value: 0, default_value: 0, checkbox: true},
            { key: 'DisableImprintDinoBuff', description: 'Use this to disable the Dino Imprinting-Player Stat Bonus, if you don\'t like it (where whomever specifically imprinted on the Dino, and Raised it to have an Imprinting Quality, gets extra Damage/Resistance buff) ', value: 0, default_value: 0, checkbox: true},
            { key: 'bPassiveDefensesDamageRiderlessDinos', description: '拒马可以对野生生物与无人骑乘的生物造成伤害', value: 0, default_value: 0, checkbox: true },
            { key: 'AllowMultipleAttachedC4', description: '每个恐龙身上可以粘贴不止一个C4炸弹', value: 0, default_value: 0, checkbox: true },
            { key: 'AllowFlyingStaminaRecovery', description: '飞行生物无需降落便可恢复耐力，前提是该生物不处于被骑乘的状态，恢复耐力时玩家可以站在该生物背上', value: 0, default_value: 0, checkbox: true },
            { key: 'ForceFlyerExplosives', description: '所有飞行生物身上贴着C4时依旧可以飞行，默认状态下只有风神翼龙和双足飞龙可以带着C4飞行', value: 0, default_value: 0, checkbox: true },
            { key: '', description: '', value: 0, default_value: 0, checkbox: true },
            { key: '', description: '', value: 0, default_value: 0, checkbox: true },
            { key: '', description: '', value: 0, default_value: 0, checkbox: true },
            { key: '', description: '', value: 0, default_value: 0, checkbox: true },

            // 上传与下载
            { key: 'noTributeDownloads', description: '禁止从其他服务器下载生存者', value: 0, default_value: 0, checkbox: true },
            { key: 'CrossARKAllowForeignDinoDownloads', description: '允许下载畸变DLC中没有的生物到畸变DLC', value: 0, default_value: 0, checkbox: true },
            { key: 'PreventUploadSurvivors', description: '禁止上传生存者', value: 0, default_value: 0, checkbox: true},
            { key: 'PreventUploadItems', description: '禁止上传物品', value: 0, default_value: 0, checkbox: true},
            { key: 'PreventUploadDinos', description: '禁止上传恐龙', value: 0, default_value: 0, checkbox: true},
            { key: 'PreventDownloadSurvivors', description: '禁止下载生存者', value: 0, default_value: 0, checkbox: true},
            { key: 'PreventDownloadItems', description: '禁止下载物品', value: 0, default_value: 0, checkbox: true},
            { key: 'PreventDownloadDinos', description: '禁止下载恐龙', value: 0, default_value: 0, checkbox: true},

            // PVE设置
            { key: 'AllowFlyerCarryPvE', description: 'PVE，允许玩家在骑乘飞行生物时抓取其他玩家或生物', value: 0, default_value: 0, checkbox: true },
            { key: 'AllowCaveBuildingPvE', description: 'PVE，允许玩家在矿洞中建造建筑', value: 0, default_value: 0, checkbox: true },
            { key: 'DisablePvEGamma', description: '（需要帮助）PVE，禁用Gamma（求大佬科普啥是Gamma）', value: 0, default_value: 0, checkbox: true },
            { key: 'bDisableStructureDecayPvE', description: 'PVE，禁用玩家建筑自动损坏，否则建筑会在无人修理的情况下随时间自行发生损坏，至7天后彻底损毁', value: 0, default_value: 0, checkbox: true },
            { key: 'PvEStructureDecayPeriodMultiplier', description: 'PVE，玩家建筑的自动损坏速率，该值为倍数，效果与取值范围未知', value: '1.00000', default_value: '1.00000', checkbox: false },
            { key: 'DisableDinoDecayPvE', description: 'PVE，禁用7天自动撤销玩家对已驯养生物的所有权', value: 0, default_value: 0, checkbox: true },
            { key: 'PvEDinoDecayPeriodMultiplier', description: 'PVE，玩家驯养生物的自动放生速率，该值为倍数，效果与取值范围未知', value: '1.00000', default_value: '1.00000', checkbox: false },
            { key: 'PvEAllowStructuresAtSupplyDrops', description: 'PVE，允许在空投补给箱降落点附近建造建筑', value: 0, default_value: 0, checkbox: true },

            // PVP设置
            { key: 'PvPStructureDecay', description: 'PVP，启用玩家建筑自动损坏，建筑会随时间自行发生损坏', value: 0, default_value: 0, checkbox: true },
            { key: 'EnablePvPGamma', description: '（需要帮助）PVP，启用Gamma（求大佬科普啥是Gamma）', value: 0, default_value: 0, checkbox: true },
            { key: 'PreventOfflinePvP', description: 'PVP，当驯养生物和建筑物的所有者离线后，驯养生物和建筑物处于无敌状态', value: 0, default_value: 0, checkbox: true},
            { key: 'PreventOfflinePvPInterval', description: 'PVP，自所有者离线到生物/建筑物进入无敌状态之间的等待时长，单位为秒，', value: 0, default_value: 0, checkbox: true},

            // 基本用不上
            { key: 'TributeItemExpirationSeconds', description: '在泰克终端上传的物品的过期时间，单位不详', value: '86400', default_value: '86400', checkbox: false },
            { key: 'TributeDinoExpirationSeconds', description: '在泰克终端上传的生物的过期时间，单位不详', value: '86400', default_value: '86400', checkbox: false },
            { key: 'TributeCharacterExpirationSeconds', description: '在泰克终端上传的玩家的过期时间，单位不详', value: '86400', default_value: '86400', checkbox: false },
            { key: 'NPCNetworkStasisRangeScalePlayerCountStart', description: 'Wiki上未有相关解释', value: '70', default_value: '70', checkbox: false },
            { key: 'NPCNetworkStasisRangeScalePlayerCountEnd', description: 'Wiki上未有相关解释', value: '120', default_value: '120', checkbox: false },
            { key: 'NPCNetworkStasisRangeScalePercentEnd', description: 'Wiki上未有相关解释', value: '0.50', default_value: '0.50', checkbox: false },
            { key: 'AllowHideDamageSourceFromLogs', description: '允许在部落日志中隐藏伤害来源', value: 0, default_value: 0, checkbox: true },
            { key: 'RandomSupplyCratePoints', description: '空投补给箱降落在随机位置。注意：这项设置的启用会造成仙境DLC出现bug', value: 0, default_value: 0, checkbox: true },
            { key: 'ClampResourceHarvestDamage', description: '使恐龙在采集资源时仅对采集的资源造成伤害。', value: 0, default_value: 0, checkbox: true },
          ],
        },
        {
          block_name: '[/script/engine.gamesession]',
          items: [
            { key: 'MaxPlayers', description: '服务器能同时容纳的最大玩家数量', value: '70', default_value: '70', checkbox: false},
          ],
        },
      ],
    },
    methods: {
      btn_click: function (event) {
        var text = '';
        this.settings.forEach((block)=>{
          text += block.block_name + '\n';
          block.items.forEach((item)=>{
            if (item.value !== '' && item.value != item.default_value) {
              if (item.key == 'BanListURL') {
                text += item.key + '="' + item.value + '"\n';
              } else {
                text += item.key + '=' + item.value + '\n';
              }
            }
          });
        });
        console.log(text)
        var blob = new Blob([text], {type: "text/plain;charset=utf-8"});
        saveAs(blob, "GameUserSettings.ini");
      },
    },
  });
</script>
</body>
</html>
